<section class="navigation__overlay">
  <div class="navigation__hamburger--icon">
    <span></span>
  </div>
  <nav class="navigation__menu">
    <ul class="navigation__menu--items">
      <li>
        <a href="#skills" title="Les compétences et outils de Guillaume LANG">Compétences</a>
      </li>
      <li>
        <a href="#profile" title="Le profil de Guillaume LANG">Profil</a>
      </li>
      <li>
        <a href="#projects" title="Les projets réalisés par Guillaume LANG">Projets</a>
      </li>
      <li>
        <a href="#contact" title="Contactez Guillaume LANG">Contact</a>
      </li>
    </ul>
  </nav>
</section>
