* { box-sizing: border-box; outline: 0; }

html { font-size: 62.5%; }

body {
	margin: 0;
	padding: 0;
	
	font-family: 'Nunito', sans-serif;
	font-size: 1.6rem;
	
	background-color: $primaryColor;
	color: $textColor;
}

p {
	margin: 0;
	padding: 0;
	
	font-size: 2rem;
	
	a {
		text-decoration: none;
		
		color: $secondaryLight;
	}
}
	
ul {
	margin: 0;
	padding: 0;
	
	font-size: 0;
	
	list-style-type: none;
}

a.underline {
	text-decoration: none;
	
	color: $secondaryLight;

	&::after {
		content: "";
		display: block;
		height: 2px;
		margin: .2em auto 0;
		width: 0%;
		
		background-color: $secondaryLight;
		transition: all .2s ease-in-out;
	}
}

.box__wrap,
.bg__profile,
.bg__contact {
	
	article {
		margin: 6rem auto;
		max-width: 90vw;
		
		p {
			text-align: justify;
		}
	}

	h2 {
		padding: 0 10vmin;
		
		font-size: 3rem;
		
		color: $secondaryColor;
	}
}

.box__wrap {
	padding: 5vmin 0;
	width: 100%;
	
	background-color: $primaryColor;
}

.bg__profile {
	background: $primaryColor url("../img/background/sectionProfileBackground.jpg") no-repeat center center fixed;
	background-size: cover;
	
	&::after,
	&::before {
		bottom: -2vw;
		content: "";
		display: block;
		height: 4vw;
		left: 0;
		position: relative;
		right: 0;
		width: auto;
		
		background-color: $primaryColor;
		transform: skewY(-2deg);
	}
	
	&::before {
		bottom: 2vw;
	}
}

.bg__contact {
	background: $primaryColor url("../img/background/sectionContactBackground.jpg") no-repeat center center fixed;
	background-size: cover;
}

.backToTop {
    bottom: 200vh;
    display: inline-block;
    height: 5rem;
    margin: auto;
    padding: 0;
    position: fixed;
    right: 2rem;
    text-align: center;
    vertical-align: middle;
    width: 5rem;
    
    background-color: rgba($primaryColor, .2);
    border-radius: 50%;
    color: rgba($textColor, .4);
    cursor: pointer;
    font-weight: bold;
    line-height: 5rem;
    
    border: none;
    border: 1px solid rgba($secondaryLight, .4);
    transition: all ease-in-out .3s;
  
  &.sticky {
    bottom: 2rem;
  }
}
