<article>
  <h2 title="Contactez Guillaume LANG">Contactez-moi</h2>
  <form action="#" class="contact__form">
    <div class="contact__form--field">
      <label for="contactName" class="form__field--label">
        Votre nom
      </label>
      <input type="text" id="contactName" name="contactName" class="form__field--input">
    </div>
    <div class="contact__form--field">
      <label for="contactEmail" class="form__field--label">
        Votre email
      </label>
      <input type="email" id="contactEmail" name="contactEmail" class="form__field--input">
    </div>
    <div class="contact__form--field">
      <label for="contactSubject" class="form__field--label">
        Sujet
      </label>
      <input type="text" id="contactSubject" name="contactSubject" class="form__field--input">
    </div>
    <div class="contact__form--field">
      <label for="contactMessage" class="form__field--label">
        Votre message
      </label>
      <textarea name="contactMessage" id="contactMessage" class="form__field--textarea"></textarea>
    </div>
    <div class="contact__form--button">
      <button type="submit" value="send" title="Envoyez un message à Guillaume LANG">
        Envoyer
      </button>
    </div>
  </form>
</article>
