<article>
  <h2  title="Les compétences de Guillaume LANG">Compétences</h2>
  <ul class="knowledge">
  {% for knowledge in knowledges %}
    <li>{{ knowledge.title }}</li>
  {% endfor %}
  </ul>
</article>
