<article class="portfolio__projects">
  <h2 title="Les projets réalisés par Guillaume LANG">Projets réalisés</h2>
  <ul>
  {% for project in projects %}
    <li>
      <article class="project">
        <h2 class="lead">
          <a href="http://tenchido.fr" title="Karaté Tenchido Obernai" target="_blank" class="underline">{{ project.title }}</a>
        </h2>
        <p class="project__description">
          {{ project.description }}
        </p>
        <figure class="project__img">
          <img src="{{ project.image.src }}" alt="{{ project.image.alt }}">
        </figure>
        <footer class="project__link">
          <ul>
            <li>
              <a href="https://web.archive.org/web/20161028195201/http://www.tenchido.fr/" title="Karaté Tenchido Obernai avant la refonte" target="_blank" class="underline">
                <i class="fa fa-globe" aria-hidden="true"></i>
                Le projet avant
              </a>
            </li>
            <li>
              <a href="http://tenchido.fr" title="Karaté Tenchido Obernai" target="_blank" class="underline">
                <i class="fa fa-globe" aria-hidden="true"></i>
                Le projet après
              </a>
            </li>
          </ul>
        </footer>
      </article>
    </li>
  {% endfor %}
  </ul>
</article>
