<article>
  <h2 title="Les technologies et outils utilisés par Guillaume LANG">
    Technologies
  </h2>
  <ul class="tech">
  {% for technology in technologies %}
    <li>
      <figure>
        <img src="/assets/img/tech/html5_logo.png" alt="Html5"/>
        <figcaption>
          {{ technology.title }}
        </figcaption>
      </figure>
    </li>
  {% endfor %}
  </ul>
</article>
