<article>
  <h2 title="Les technologies et outils utilisés par Guillaume LANG">Technologies</h2>
  <ul class="tech">
    <li>
      <figure>
        <img src="/assets/img/tech/html5_logo.png" alt="Html5"/>
        <figcaption>
          Html5
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/img/tech/css3_logo.png" alt="Css3"/>
        <figcaption>
          Css3
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/img/tech/javascript_logo.png" alt="Javascript"/>
        <figcaption>
          Javascript
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/img/tech/php_logo.png" alt="Php"/>
        <figcaption>
          Php
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/img/tech/mariadb_logo.png" alt="MariaDb"/>
        <figcaption>
          MariaDb
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/img/tech/sass_logo.png" alt="Sass"/>
        <figcaption>
          Sass
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/img/tech/atom_logo.png" alt="Atom"/>
        <figcaption>
          Atom
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/img/tech/git_logo.png" alt="Git"/>
        <figcaption>
          Git
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/img/tech/composer_logo.png" alt="Composer"/>
        <figcaption>
          Composer
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/img/tech/gulp_logo.png" alt="Gulp"/>
        <figcaption>
          Gulp
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/img/tech/docker_logo.png" alt="Docker"/>
        <figcaption>
          Docker
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/img/tech/ansible_logo.png" alt="Ansible"/>
        <figcaption>
          Ansible
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/img/tech/jquery_logo.png" alt="jQuery"/>
        <figcaption>
          jQuery
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/img/tech/bootstrap_logo.png" alt="Bootstrap"/>
        <figcaption>
          Bootstrap
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/img/tech/foundation_logo.png" alt="Foundation"/>
        <figcaption>
          Foundation
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/img/tech/laravel_logo.png" alt="Laravel"/>
        <figcaption>
          Laravel
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/img/tech/symfony_logo.png" alt="Symfony"/>
        <figcaption>
          Symfony
        </figcaption>
      </figure>
    </li>
  </ul>
</article>
