.profile {
	
	article {
		padding: 2rem;
		
		background-color: rgba($primaryDark, .8);
		border-radius: $radius;
	}
}

@media screen and (min-width: $small) {
	
	.profile {
		
		article {
			padding: 2rem 4rem;
		}
	}
}

@media screen and (min-width: $medium) {
	
	.profile {
		align-items: center;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		
		article {
			padding: 0;
			width: 45vw;
			
			p {
				padding: 1rem 2rem;
				
				line-height: 1.8;
			}
		}
		
		.profile__about {
			order: 2;
		}
		
		.profile__training {
			order: 1;
		}
	}
}

@media screen and (min-width: $large) {
	
	.profile {
		
		article {
			justify-content: space-around;
			margin-left: 3rem;
			margin-right: 3rem;
			width: 30vw;
			
			p {
				padding: 1rem 3rem;
			}
		}
	}
}