<!doctype html>
<html lang="fr">

  <head>
    
    <title>Guillaume LANG | Développeur/Intégrateur Web et Administrateur système Linux</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Guillaume LANG Développeur/Intégrateur Web et Administrateur système Linux vous propose ses services dans la création de votre site Web responsive, optimisé pour le Seo.">
		<meta name="author" content="Guillaume LANG">
    <meta property="og:locale" content="fr_FR">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Développeur / Intégrateur Web et Administrateur système Linux">
		<meta property="og:url" content="https://portfolio.lang-guillaume.com">
		<meta property="og:site_name" content="https://portfolio.lang-guillaume.com">
		<meta property="og:image" content="https://portfolio.lang-guillaume.com/assets/img/favicon.png">
    
		<link rel="canonical" href="https://portfolio.lang-guillaume.com">
		<link rel="shortcut icon" type="image/x-icon" href="https://portfolio.lang-guillaume.com/assets/img/favicon.png">
		<link rel="icon" type="image/x-icon" href="https://portfolio.lang-guillaume.com/assets/img/favicon.png">
		<link rel="apple-touch-icon" href="https://portfolio.lang-guillaume.com/assets/img/favicon.png">
    <link rel="stylesheet" href="/assets/css/app.min.css">
    
  </head>

  <body>

    {% block content %}{% endblock %}
    
    <script src="/assets/js/app.min.js"></script>
  </body>

</html>
