<article>
  <h2 title="Les technologies et outils utilisés par Guillaume LANG">
    Technologies
  </h2>
  <ul class="tech">
  {% for technology in technologies %}
    <li>
      <figure>
        <img src="{{ technology.picture.uri }}" alt="{{ technology.picture.title }}"/>
        <figcaption>
          {{ technology.name }}
        </figcaption>
      </figure>
    </li>
  {% endfor %}
  </ul>
</article>
