<p>
  A new contact request has just been sent from the site, with the following information:
</p>
<ul>
  <li>Name of the contact: {{ contact.name }}</li>
  <li>Email of the contact: {{ contact.email }}</li>
  <li>Subject of the message: {{ contact.subject }}</li>
  <li>Content of the message: {{ contact.message }}</li>
</ul>
