<footer class="box__wrap footer">
  <h3 title="Guillaume LANG, développeur / Intégrateur Web et Administrateur système Linux" class="footer__title">
    Guillaume LANG
  </h3>
  <section class="footer__resume">
    <ul class="footer__resume--list">
      <li>Création de sites Web</li>
      <li>Développement front-end</li>
      <li>Responsive Web Design</li>
      <li>Administration de serveur Linux</li>
      <li>Optimisation Seo</li>
    </ul>
  </section>
  <section class="footer__links">
    <ul class="footer__links--list">
      <li>
        <a href="https://portfolio.lg-ed.com" title="Accueil du portfolio de Guillaume LANG">Accueil du site</a>
      </li>
      <li>
        <a href="https://github.com/TituxMetal" title="Compte GitHub de Guillaume LANG" target="_blank">Compte GitHub</a>
      </li>
      <li>
        <a href="https://gitlab.com/TituxMetal" title="Compte GitLab de Guillaume LANG" target="_blank">Compte GitLab</a>
      </li>
    </ul>
  </section>
  <section class="footer__foot">
    <span>Created with love and lots of coffee</span>
    <span>by Guillaume LANG</span>
    <span><a href="https://github.com/TituxMetal/portfolio" target="_blank">Voir le code source</a></span>
  </section>
</footer>
