<header class="home__header">
  <section class="header__hook">
    <h1>
      Guillaume LANG
    </h1>
    <p>
      Développeur / Intégrateur Web
    </p>
    <p>
      Administrateur Système Linux
    </p>
  </section>
</header>
