{% extends "layout.twig" %}

{% block content %}
  
  {% include 'partials/header.twig' %}

  {% include 'partials/navigation.twig' %}

  <section class="box__wrap skills" id="skills">
    
    {% include '@home/blocks/knowledges.twig' %}

    {% include '@home/blocks/technologies.twig' %}

  </section>
  
  <section class="bg__profile profile" id="profile">

    {% include '@home/blocks/profile.twig' %}

  </section>

  <section class="box__wrap projects" id="projects">

    {% include '@home/blocks/projects.twig' %}

  </section>

  <section class="bg__contact contact" id="contact">
  
    {% include '@home/blocks/contact.twig' %}

  </section>
  
  {% include 'partials/footer.twig' %}

{% endblock %}
