<h1>
  New contact request!
</h1>

<p>
  A new contact request has just been sent from the site, with the following information:
</p>
<ul>
  <li>
    Name of the contact: {{ contactName }}
  </li>
  <li>
    Email of the contact: {{ contactEmail }}
  </li>
  <li>
    Subject of the message: {{ contactSubject }}
  </li>
  <li>
    Content of the message:
    <p>
      {{ contactMessage }}
    </p>
  </li>
</ul>
